html {
  position: relative;

  -webkit-overflow-scrolling: touch;

  min-height: 100%;

  overflow-scrolling: touch;
}

* {
  font-family: inherit;

  -webkit-font-smoothing: antialiased;
}

.slick-slide,
a,
img,
button {
  border: 0;
  outline: none !important;
}

img,
svg,
canvas,
object {
  max-width: 100%;
  height: auto;
}

a {
  transition: all 0.3s $trans;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;

  color: #000000;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p + p {
  margin-top: 7px;
}

::-moz-selection {
  color: $black;
  background: $yellow;
}

::selection {
  color: $black;
  background: $yellow;
}

/*
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: $blueHover;
}
*/
html,
body {
  font: 400 13px/1.5 $mainFont;
}

body {
  position: relative;

  min-width: 300px;
  min-height: 100%;
  padding: 0;

  color: $black;
  background-color: white;
}

.bg-map {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.5)
    ),
    repeat fixed url(../img/pattern.png);
  background-attachment: fixed;
}

.button {
  position: relative;

  display: inline-block;

  min-width: 240px;
  height: 48px;
  padding: 0 15px;

  transition: all 0.3s $trans;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $black;
  border: 3px solid transparent;
  border-radius: 0;
  outline: none;
  background-color: $yellow;

  font: 700 24px/42px $accentFont;

  @include media900 {
    min-width: 200px;
    height: 42px;

    font-size: 20px;
    line-height: 42px;
  }
  @include media600 {
    border-width: 1px;
  }
  @include media480 {
    min-width: 150px;
  }

  &.small-button {
    min-width: 170px;
    height: 40px;

    font-size: 16px;
    line-height: 34px;
  }

  &.secondary-button {
    border-color: $yellow;
    background-color: transparent;
  }

  &.black-button {
    color: $yellow;
    background-color: $black;
  }

  &[disabled="disabled"],
  &.disabled {
    pointer-events: none;

    background: #7c7c7c;
  }

  @media screen and (max-width: 1500px) {
    min-width: 170px;
    height: 40px;

    font-size: 16px;
    line-height: 34px;
  }
}

.no-touchevents .button:hover,
.button:focus,
.button:active {
  color: $yellow;
  background: $black;

  &.secondary-button {
    color: $black;
    background-color: $yellow;
  }

  &.black-button {
    color: $black;
    background-color: $yellow;
  }
}

.popup,
header,
section {
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select,
  .chosen-container {
    position: relative;

    display: block;

    box-sizing: border-box;
    width: 100%;
    min-width: 1px;
    height: 42px;
    margin: 0;
    padding: 6px 24px;

    transition: all 0.3s $trans;
    text-overflow: ellipsis;

    color: $black;
    border: 1px solid #c5c4c4;
    border-radius: 0;
    outline: none;
    background: transparent;
    box-shadow: none !important;

    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;

    -webkit-appearance: none;

    &:focus {
      border-color: $black;
    }

    &.disabled {
      pointer-events: none;

      opacity: 0.4;
    }

    &.error {
      border-color: $red;
    }
  }

  label {
    position: absolute;
    z-index: 10;
    top: -7px;
    left: 20px;

    display: inline-block;
    //	background: #ffffff;

    padding: 0 3px;

    color: $black;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1;

    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      background: $white;
    }
  }

  textarea {
    min-height: 180px;
    padding: 23px;

    resize: vertical;

    line-height: 1.5;
  }

  select {
    -webkit-appearance: listbox;
  }

  label.radio,
  label.checkbox {
    position: relative;
    top: 0;
    left: 0;

    padding: 0 0 0 20px;
  }

  label.no-padding {
    padding: 0;
  }
}

.form-group {
  position: relative;

  margin-bottom: 27px;
}

.radio,
.checkbox {
  display: inline-block;

  width: 100%;

  cursor: pointer;
  transition: opacity 0.3s $trans;

  color: #7b7b7b;
  outline: none;
  background: transparent;

  font: 400 1rem/1.15 $mainFont;

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;

    opacity: 0;
  }

  &.disabled {
    pointer-events: none;

    opacity: 0.6;
  }

  a {
    position: relative;
    z-index: 10;

    text-decoration: underline;

    color: #7b7b7b;
  }

  & + .checkbox,
  & + .radio {
    margin-top: 10px;
  }

  .check {
    position: absolute;
    top: 1px;
    left: 0;

    width: 10px;
    height: 10px;

    transition: border 0.3s $trans;

    border: 1px solid #c5c4c4;

    &:before {
      position: absolute;

      content: "";
      transition: all 0.3s $trans;

      opacity: 0;
    }
  }

  input:checked + .check:before {
    opacity: 1;
  }

  &.error .check {
    border-color: $red;
  }
}

.no-touchevents .radio a:hover,
.no-touchevents .checkbox a:hover,
.radio a:focus,
.checkbox a:focus,
.radio a:active,
.checkbox a:active {
  color: $black;
}

.checkbox {
  .check:before {
    top: -4px;
    left: 3px;

    width: 6px;
    height: 10px;

    transform: rotate(45deg);

    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
  }
}

.radio {
  .check {
    border-radius: 50%;
  }

  .check:before {
    top: 1px;
    left: 1px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background: $black;
  }
}

.dropdown-toggle {
  position: relative;

  width: 100%;
  height: 42px;
  padding: 6px 66px 6px 21px;

  transition: all 0.3s $trans;

  color: #010101;
  border: 1px solid #c5c4c4;
  background: transparent;

  font-size: 13px;
  font-weight: 400;
  line-height: 35px;

  .text {
    display: inline-block;
    overflow: hidden;

    width: 100%;
    max-width: 100%;

    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.down-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 42px;

  background: $yellow;

  &:before,
  &:after {
    position: absolute;
    top: 50%;

    width: 10px;
    height: 2px;

    content: "";
    transition: all 0.2s $trans;

    background: $black;
  }

  &:before {
    left: 13px;

    transform: translateY(-50%) rotate(45deg);
  }

  &:after {
    right: 13px;

    transform: translateY(-50%) rotate(135deg);
  }
}

.open .down-icon {
  &:before {
    transform: translateY(-50%) rotate(135deg);
  }

  &:after {
    transform: translateY(-50%) rotate(45deg);
  }
}

.dropdown-menu {
  top: 41px;

  display: inline-block;
  overflow: hidden;

  width: 100%;
  height: auto;
  max-height: 0;
  margin: 0;
  padding: 0;

  transition: max-height 0.3s $trans 0.2s;

  border: none;
  border-radius: 0;
  background: $white;
  box-shadow: none;

  &:before {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    content: "";

    border: 1px solid #c5c4c4;
  }
}

.open .dropdown-menu {
  max-height: 250px;

  transition-delay: 0s;
}

.dropdown-wrap {
  overflow-y: auto;

  max-height: 210px;
  margin: 20px 0;
  padding: 0 26px;

  &::-webkit-scrollbar {
    width: 4px;

    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c5c4c4;
  }

  label {
    position: relative;
    top: 0;
    left: 0;

    padding: 0 0 0 20px;

    color: $black;

    & + label {
      margin-top: 5px;
    }
  }
}

::-ms-clear {
  display: none;
}

::-webkit-input-placeholder {
  transition: opacity 0.2s ease;
  text-transform: uppercase;

  color: #c4c4c4;
}

::-moz-placeholder {
  transition: opacity 0.2s ease;
  text-transform: uppercase;

  color: #c4c4c4;
}

:-moz-placeholder {
  transition: opacity 0.2s ease;
  text-transform: uppercase;

  color: #c4c4c4;
}

:-ms-input-placeholder {
  transition: opacity 0.2s ease;
  text-transform: uppercase;

  color: #c4c4c4;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.button-menu-wrap {
  position: absolute;
  z-index: 920;
  top: 0;
  left: 0;

  display: none;

  width: 40px;
  height: 100%;

  background: $white;

  @include media600 {
    display: block;
  }
}

.no-touchevents .button-menu-wrap:hover,
.button-menu-wrap:active,
.button-menu-wrap:focus {
  background: $white;
}

.button-menu {
  position: absolute;
  top: 50%;
  right: 10px;
  left: 10px;

  display: inline-block;

  height: 2px;
  margin-top: -1px;

  cursor: pointer;
  transition: all 0.3s $trans;
  vertical-align: middle;

  border: 0;
  background: $black;

  line-height: 1;

  &:before,
  &:after {
    position: absolute;
    left: 0;

    display: inline-block;

    width: 100%;
    height: 2px;

    content: "";
    transition: all 0.3s $trans;

    background: $black;
  }

  &:before {
    top: -8px;
  }

  &:after {
    bottom: -8px;
  }
}

.menu-opened {
  .button-menu-wrap span {
    background: transparent;

    &:before {
      top: 0;

      transform: rotate(-45deg);
    }

    &:after {
      top: 0;

      transform: rotate(45deg);
    }
  }
}

.container {
  position: relative;
  z-index: 10;

  display: block;

  width: 100% !important;
  max-width: 1260px;
  padding: 0 50px;

  @include media600 {
    padding: 0 20px;
  }

  @media screen and (max-width: 1500px) {
    max-width: 1200px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 950px;
  }
}

.large-container {
  max-width: 1700px;

  @media screen and (max-width: 1500px) {
    max-width: 1300px;
  }

  @media screen and (max-width: 1200px) {
    max-width: 950px;
  }
}

footer,
section {
  overflow: hidden;

  padding: 60px 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include media1200 {
    padding: 70px 0;
  }
  @include media600 {
    padding: 50px 0;
  }
}

main {
  // overflow-x: hidden;
}

.center {
  text-align: center;
}

@media (min-width: 481px) {
  .hidden-xxs {
    display: block !important;
  }

  .visible-xxs {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }

  .hidden-inline-xxs,
  .hidden-xxs {
    display: none !important;
  }

  .visible-xxs {
    display: inline-block !important;
  }
}
