<article class="info__card card">
	<div class="card__wrapper">
		<div class="card__descr">
			<div class="card__descr-day">
				<span class="card__day-num">ДЕНЬ @@day.num</span>
				<time datetime="@@day.datetime" class="card__date">@@day.date</time>
			</div>
			<h2 class="card__title"><span class="card__title-desktop">@@title</span><span class="card__title-desctop">@@title_mob</span></h2>
			<div class="card__icons">
				<div class="card__icon icon-@@icons.icon_1.name">
					<p class="card__icon-text">@@icons.icon_1.text</p>
				</div>
				<div class="card__icon icon-@@icons.icon_2.name">
					<p class="card__icon-text">@@icons.icon_2.text</p>
				</div>
				<div class="card__icon icon-@@icons.icon_3.name">
					<p class="card__icon-text">@@icons.icon_3.text</p>
				</div>
				<div class="card__icon icon-@@icons.icon_4.name">
					<p class="card__icon-text">@@icons.icon_4.text</p>
				</div>
			</div>
			<p class="card__text">@@text</p>
			<span class="card__price accentFont">@@price ₽</span>
			<div class="card__buttons-wrapper">
				<a href="modal-register.html" class="fancybox button" tabindex="0">Принять участие</a>
				<a href="#" class="card__button button white-button --border">подробнее</a>
			</div>
		</div>
		<div class="card__photo">
			<img src="img/days/@@photo.jpg" alt="@@title" class="card__photo-picture">
		</div>
	</div>
</article>